.charts-block {
  span {
    color: #fff;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
  }
}

.daily-tasks-section {
  width: 100%;
  margin: auto;
  margin-bottom: 45px;
  margin-left: -15px;

  .daily-main-col, .daily-right-col {
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    text-align: center;

    .content-task-title {
      margin: 20px auto;
      font-size: 15px;
      color: #1e93a2;
      font-weight: bold;

      .task-title-big {
        color: #d84f6b;
        font-size: 46px;
        font-family: 'Open Sans';
      }
    }

    .daily-video-title {
      background: #f3f3f3;
      margin: 10px 15px 0;
      padding: 10px 10px;
      text-align: center;
      font-size: 24px;
      color: #2f313e;
      font-family: 'Open Sans';
      font-weight: bold;
      line-height: 45px;
    }

    .daily-video-content {
      padding: 0px 15px;

      .daily-frame {
        width: 94%;
      }

      img {
        height: 300px;
        object-fit: cover;
      }
    }

    .daily-challenge-title {
      width: 94%;
      margin: auto;
      padding: 5px 10px;
      font-family: 'Open Sans';

      h3 {
        font-size: 22px;
        font-weight: bold;
        color: #2f313e;
        text-align: left;
      }
    }

    .daily-challenge-text {
      font-size: 12px;
      line-height: 15px;
      text-align: left;

      ul {
        margin-top: 20px;
        list-style: none;

        li {
          display: inline-block;
        }

        li:last-child {
          position: relative;
          right: -140px;
          margin-right: -40px;
        }
      }

      ul:last-child {
        margin: 5px 5px 30px;
        position: relative;
        right: -400px;

        li {
          display: list-item;
        }
      }

      .ender-text {
        text-align: right;
        font-weight: bold;
        font-size: 13px;
        margin: 10px 0 35px;
      }
    }

    .daily-task-box {
      margin: 0 15px;
      padding: 40px 30px;
      background: url('../assets/img/daily_task/NEWFEEL_2016_SOFT_140_0393.png') no-repeat;
      background-size: cover;

      .tasks-pics {
        object-fit: cover;
        padding: 5px 10px;
        width: 250px;
        height: 180px;
        border-radius: 13px;
      }

      .bottom-task-box {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        color: #2f313e;

        .points-title {
          color: #d84f6b;
        }
      }

      .right-comment {
        text-align: center !important;
        margin: 30px auto;
      }

      .right-line {
        line-height: 20px;
      }

      .block-list-style {
        padding: 5px 20px;

        .left-list-style, .right-list-style {
          display: inline-block;
          font-weight: bold;
          margin: 20px auto 0;
          float: left;
        }

        .right-list-style {
          color: #d84f6b;
          float: right;
        }
      }

      .block-list-comment {
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        padding-left: 20px;
        padding-top: 10px;
      }

      .block-list {
        font-size: 13px;
        padding: 3px 5px;
        text-align: left;
        line-height: 25px;

        ul {
          margin: 10px 15px;

          .li-points {
            position: relative;
            float: right;
            color: #d84f6b;
            font-weight: bold;
            right: 10px;
          }
        }
      }

      .vertical-line {
        content: " ";
        display: block;
        background: url('../assets/img/daily_task/vertical-align-arrow.png') no-repeat;
      }

      .share-btn {
        margin: 40px auto 20px;

        .bottom-box-btn, .bottom-box-btn:visited, .bottom-box-btn:link {
          color: #fff;
          background: #d84f6b;
          padding: 20px 50px;
          border-radius: 3px;
          font-size: 14px;
          font-family: 'Open Sans';
          font-weight: bold;
          text-decoration: none;
        }

        .bottom-box-btn:hover {
          color: #d84f6b;
          background: #fff;
          border: 1px solid #d84f6b;
          text-decoration: none;
        }
      }
    }
  }

  .daily-right-col {
    .right-col-box {
      border-bottom: 1px solid #d7d7d7;
      font-size: 12px;
      font-weight: bold;
      color: #8c8c8c;
      padding: 20px 5px 0;

      .right-title-arrow {
        transform: rotate(180deg);
        width: 20px;
        opacity: 0.5;
        cursor: pointer;
      }
    }

    .day-31 {
      color: #b9b9b9;

      p {
        padding-bottom: 15px;
      }
    }

    .right-col-days {
      .tasks-inactive, .tasks-active {
        display: list-item;
        list-style: none;
        margin: 15px auto 10px;
        font-size: 11px;
        font-weight: bold;
      }

      .tasks-active:first-child, .tasks-inactive:first-child {
        margin-top: 25px;
      }

      .tasks-active:last-child, .tasks-inactive:last-child {
        margin-bottom: 35px;
        padding-left: 5px;
      }

      .tasks-active {
        background: #f3f3f3;
        color: #1e93a2;
        padding: 5px 0;
      }
    }
  }

  .box-challenge {
    margin-top: 25px;
    border-bottom: 0;
    font-family: 'Open Sans';

    img {
      margin: 0;
      width: 20px;
      opacity: 0.5;
    }
  }
}

.pre-footer {
  width: 100%;
  margin: 10px auto 0;
  padding: 10px 30px;
  background: #fff;
}

