/* Arial Narrow */
@font-face {
  font-family: 'ArialNarrowBold';
  src: url('../assets/fonts/ArialNarrow/ArialNarrowBold/arialnarrowbold.woff2') format('woff2'),
  url('../assets/fonts/ArialNarrow/ArialNarrowBold/arialnarrowbold.woff') format('woff'),
  url('../assets/fonts/ArialNarrow/ArialNarrowBold/arialnarrowbold.ttf') format('truetype'),
  url('../assets/fonts/ArialNarrow/ArialNarrowBold/arialnarrowbold.svg#ArialNarrowBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArialNarrowBoldItalic';
  src: url('../assets/fonts/ArialNarrow/ArialNarrowBoldItalic/arialnarrowbolditalic.woff2') format('woff2'),
  url('../assets/fonts/ArialNarrow/ArialNarrowBoldItalic/arialnarrowbolditalic.woff') format('woff'),
  url('../assets/fonts/ArialNarrow/ArialNarrowBoldItalic/arialnarrowbolditalic.ttf') format('truetype'),
  url('../assets/fonts/ArialNarrow/ArialNarrowBoldItalic/arialnarrowbolditalic.svg#ArialNarrowBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArialNarrowItalic';
  src: url('../assets/fonts/ArialNarrow/ArialNarrowItalic/arialnarrowitalic.woff2') format('woff2'),
  url('../assets/fonts/ArialNarrow/ArialNarrowItalic/arialnarrowitalic.woff') format('woff'),
  url('../assets/fonts/ArialNarrow/ArialNarrowItalic/arialnarrowitalic.ttf') format('truetype'),
  url('../assets/fonts/ArialNarrow/ArialNarrowItalic/arialnarrowitalic.svg#ArialNarrowItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArialNarrowRegular';
  src: url('../assets/fonts/ArialNarrow/ArialNarrowRegular/arialnarrowregular.woff2') format('woff2'),
  url('../assets/fonts/ArialNarrow/ArialNarrowRegular/arialnarrowregular.woff') format('woff'),
  url('../assets/fonts/ArialNarrow/ArialNarrowRegular/arialnarrowregular.ttf') format('truetype'),
  url('../assets/fonts/ArialNarrow/ArialNarrowRegular/arialnarrowregular.svg#ArialNarrowRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Myriad Pro */
@font-face {
  font-family: 'MyriadProBold';
  src: url('../assets/fonts/MyriadPro/MyriadProBold/MyriadProBold.woff') format('woff'),
  url('../assets/fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadProBoldItalic';
  src: url('../assets/fonts/MyriadPro/MyriadProBoldItalic/MyriadProBoldItalic.woff') format('woff'),
  url('../assets/fonts/MyriadPro/MyriadProBoldItalic/MyriadProBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadProItalic';
  src: url('../assets/fonts/MyriadPro/MyriadProItalic/MyriadProItalic.woff') format('woff'),
  url('../assets/fonts/MyriadPro/MyriadProItalic/MyriadProItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadProRegular';
  src: url('../assets/fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff') format('woff'),
  url('../assets/fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadProSemiBold';
  src: url('../assets/fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.woff') format('woff'),
  url('../assets/fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadProSemiBoldItalic';
  src: url('../assets/fonts/MyriadPro/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff') format('woff'),
  url('../assets/fonts/MyriadPro/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}