.mi-logo-section {
  display: block;
  position: relative;
  width: 100%;
  height: 460px;
  margin-top: -15px;
  background: url('../assets/img/more_info/eldorado_dr.png') no-repeat top;
  background-position-y: 25%;
  background-size: cover;

  ul {
    list-style: none;
    position: relative;
    bottom: -220px;
    right: -10px;

    .arrow {
      width: 140px;
      opacity: 0.7;
      display: flex;
      transform: rotate(90deg);
    }
  }

  li {
    display: inline-block;
    margin: 0 20px;

    .mi-img-titles {
      font-size: 18px;
      font-weight: bold;
      color: #2f313e;
      padding-top: 10px;
      text-align: center;
    }

    .mi-logo-img {
      border-radius: 50%;
      background: #fff;
      padding: 0 10px;
      box-shadow: 0 8px 8px rgba(66, 66, 66, 0.7);
    }

    .mi-logo-img .right-img {
      position: relative;
      bottom: 70px;
      padding: 10px 30px;
    }

    .mi-logo-img-gr {
      background: #fff;
      max-width: 250px;
      border-radius: 80px;
      padding: 10px 40px;
      box-shadow: 0 8px 8px rgba(66, 66, 66, 0.7);
    }

    img {
      max-width: 120px;
    }
  }

  .mi-logo-title1, .mi-logo-title2 {
    font-size: 32px;
    font-family: 'Open Sans';
    color: #2f313e;
  }

  .mi-logo-title2 {
    font-size: 20px;
  }

  .mi-logo-text {
    font-size: 46px;
    color: #d84f6b;
  }

  .mi-logo-small {
    font-size: 16px;
  }

  /* .mi-logo-imgs {
    ul {
      list-style: none;
    }

    li {
      display: inline-block;
    }

    .mi-logo-img {
      //max-width: 170px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 8px 8px rgba(66, 66, 66, 0.7);
    }

    .mi-logo-img-gr {
      position: relative;
      left: -50px;
      background: #fff;
      border-radius: 80px;
      padding: 10px 40px;
      box-shadow: 0 8px 8px rgba(66, 66, 66, 0.7);
    }

    .arrow {
      width: 140px;
      opacity: 0.7;
      display: flex;
      transform: rotate(90deg);
    }

    .mi-img-titles {
      font-size: 18px;
      font-weight: bold;
      color: #2f313e;
      padding-top: 10px;
      text-align: center;
    }
  } */


  .mi-logo-txt {
    width: 650px;
    position: absolute;
    top: 20px;
    margin-left: -200px;
    text-align: center;
    font-weight: bold;
  }

  .mi-logo-imgs {
    position: relative;
    bottom: -220px;
  }
}

.mi-content {
  background: #f7f7f7;

  .mi-content-title {
    margin: 25px 0;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #2f313e;
  }

  .mi-left-content, .mi-right-content, .mi-left-big, .mi-right-small {
    background: #fff;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 6px;
    box-shadow: 0 8px 8px rgba(208, 208, 208, 0.4);

    .mi-lc-lt, .mi-lc-rt, .mi-lc-sm {
      position: relative;
      bottom: 10px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      background: #1e93a2;
      color: #fff;
      border-radius: 4px;
      padding: 0 170px;
    }

    .mi-lc-sm {
      padding: 0 80px;
    }

    .mi-lc-content, .mi-rc-content {
      font-size: 14px;
      font-family: 'Open Sans';
      line-height: 13px;
      text-align: justify;
      padding: 10px 20px 10px 50px;

      img {
        padding: 5px 15px 10px;
      }

      .mi-content-img {
        bottom: -10px;
        position: relative;
      }
    }

    .mi-lc-rt {
      background: #d84f6b;
    }
  }

  .mi-bottom-faq {
    text-align: center;
    margin: -10px 0 35px;

    .mi-bottom-text {
      color: #89898E;
      font-size: 20px;
      font-weight: bold;
      font-family: 'Open Sans';
    }

    button, button:link, button:visited {
      border: 1px solid #d0d0d0;
      color: #89898E;
      padding: 8px 25px;
      font-weight: bold;
      font-size: 18px;
      margin: 15px 0 0 0;
      background: transparent;
      border-radius: 3px;
    }

    button:hover {
      background: #d0d0d0;
      color: #fff;
    }
  }
}